<router-outlet></router-outlet>
<h1>hello angular 19</h1>

<!-- <button (click)="setXTrue()">Set x = true</button>

<p *ngIf="x; else notTrueBlock">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, molestiae...
</p>

<ng-template #notTrueBlock>
    <p>x is false — This is the ELSE block.</p>
</ng-template> -->
<!-- <button (click)="changehandler()">Click</button>


<h2 *ngIf="x; else notTrueBlock">Friend List:</h2>

<ng-template #notTrueBlock>
    <h2>x is false — Table is hidden</h2>
</ng-template>

<table *ngIf="x" border="1" cellpadding="5">
    <tr *ngFor="let row of items">
        <td *ngFor="let col of row">{{ col }}</td>
    </tr>
</table> -->


<login></login>

<signup></signup>
<profile></profile>

<button (click) = 'changehandler()'>Edit me</button>

<h1>{{name}}</h1>

<h2 (mouseover) = 'update_name()'>{{data}}</h2>


<h1>{{Any}}</h1>

<button (click) = 'sum(9,10)'>Sum</button>

<EventHandler></EventHandler>